.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        | CariKijo.my - Back Office
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        if user && user.hasAccess('adminJob:list')
          li.dropdown(class=(title == 'Admin') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span Admin
              i.caret
            ul.dropdown-menu
              if user.hasAccess('adminJob:list')
                li
                  a(href='/adminJobs') Admin Job
        if user && (user.hasAccess('recruiter:list') || user.hasAccess('creditAccount:list') || user.hasAccess('offlineJob:list'))
          li.dropdown(class=(title == 'Recruiter') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span Recruiter
              i.caret
            ul.dropdown-menu
              if user.hasAccess('recruiter:list')
                li
                  a(href='/recruiters') Recruiter
              if user.hasAccess('employer:list')
                li
                  a(href='/employers') Employer
              if user.hasAccess('creditAccount:list')
                li
                  a(href='/creditAccounts') Credit Account
              if user.hasAccess('offlineJob:list')
                li
                  a(href='/offlineJobs') Offline Job
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
        else
          // ** open for local development use only **
          if user.hasAccess('user:signup')
            li(class=(title == 'Create Account') ? 'active' : undefined)
              a(href='/signup') Create Account
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture, alt=(user.profile.name || user.email || user.id))
              else
                img(src=user.gravatar(60), alt=(user.profile.name || user.email || user.id))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
